.divide-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px 0 15px 0;
}

.divide-line {
    flex: 1;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.divide-text {
    font-size: 10px;
    font-weight: 700;

    color: rgba(0, 0, 0, 0.2);
}

.social-login-container {
    display: flex;
    justify-content: center;

    gap: 10px;
}